{{#if edit }}
  <form action="/users/{{user._id}}/edit" method="POST" enctype="multipart/form-data">
{{else}}
  <form action="/profile" method="POST" enctype="multipart/form-data">
{{/if}}
    <div class="container-fluid rounded bg-white">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5 "><img
              class="rounded-circle mt-5 profile-image" src="{{currentUser.image}}"><span
              class="font-weight-bold">{{currentUser.name}}</span><span
              class="text-black-50">{{currentUser.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Your Profile</h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-6"><label class="labels">Name</label><input type="text" name="name"
                  class="form-control" placeholder="first name" value="{{currentUser.name}}" {{#if
                  edit}}{{else}}readonly{{/if}}></div>
              <div class="col-md-6"><label class="labels">Surname</label><input type="text" name="surname"
                  class="form-control" value="{{currentUser.surname}}" {{#if edit}}{{else}}readonly{{/if}}></div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12 mb-2"><label class="labels">PhoneNumber</label><input type="text" name="phone"
                  class="form-control" value="{{currentUser.phone}}" {{#if edit}}{{else}}readonly{{/if}}></div>
              <div class="col-md-12 mb-2"><label class="labels">Address</label><input type="text" name="address"
                  class="form-control" value="{{currentUser.address}}" {{#if edit}}{{else}}readonly{{/if}}></div>
              <div class="col-md-12 mb-2"><label class="labels">Email</label><input type="text" name="email"
                  class="form-control" placeholder="enter email id" value="{{currentUser.email}}" {{#if
                  edit}}{{else}}readonly{{/if}}></div>
              {{#if edit}}
                <div class="col-md-12 mb-2">
                  <label for="image" class="form-label">Change your profile image</label>
                  <input class="form-control" name="image" type="file" id="image">
                </div>
              {{else}}
              {{/if}}
            </div>
            <div class="row mt-3">
              <div class="col-md-6"><label class="labels">Country</label><input type="text" name="country"
                  class="form-control" value="{{currentUser.country}}" {{#if edit}}{{else}}readonly{{/if}}></div>
              <div class="col-md-6"><label class="labels">State/Region</label><input type="text" name="state"
                  class="form-control" value="{{currentUser.state}}" {{#if edit}}{{else}}readonly{{/if}}></div>
            </div>
            <div class="mt-5 text-center">{{#if edit}} <button class="btn btn-outline-dark btn-lg px-5 mt-4 mb-4"
                type="submit">Edit it</button>{{else}}<a class="btn btn-dark profile-button"
                href="users/{{currentUser._id}}/edit">Edit your profile</a>{{/if}}</div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="p-2 scroll-profile">
            <div class="d-flex justify-content-center align-items-center experience"><span>Rated Gyms</span></div><br>
            {{#each gyms as |gym|}}
            <div class="col-xl-12 col-sm-12 col-xs-12 gy-4 d-flex justify-content-center ">
              <div class="card w-50 round-card mb-3" style="width: 18rem;">
                <div class="position-relative">
                  <img src="{{gym.image}}" class="card-img-top" alt="...">
                </div>
                <div class="card-body d-flex flex-column mt-2">
                  <div class="gym-name">
                    <div>
                      <h6 class="card-title">{{gym.name}}</h6>
                    </div>
                    <div>
                    <b>Rating: <span data-rating={{gym.averageRating}} class="averageStars"></span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </form>