<h1>DETAILS</h1>

<div><h2>{{gym.name}}</h2></div>
 

 

 

      <div class="container-detail text-warning bg-dark mt-5 w-80 mx-3">
    <div class="d-flex">
        
        
        <img src="{{gym.image}}" width="50%" class="card-img-top1" alt="">
        <div class="info  col-6">
            <h4 class="card-title mt-5 mx-5">{{gym.name}}</h4>

            <p class="card-info mx-5"><small></small></p>
            <p class="card-info mx-5"><small> <span class="fa fa-map-marker"></span><strong>Address: </strong>{{gym.address}}</small></p>
            <p class="card-info mx-5"> <span class="fa fa-newspaper-o"></span><strong>Description: </strong>{{gym.description}}</p>
            <p class="card-info mx-5"> <span class="fa fa-clock-o"></span><strong>Timeline: </strong>{{gym.timeline}}</p>
            <p class="card-info mx-5"><a href="/gyms/{{gym.id}}/edit">edit it</a></p>
            <form action="/gyms/{{gym.id}}/delete" method="POST">
            <button type="submit">Delete it</button>
            </form>
        </div>
        
        
    </div>


    <div class="mx-2"id="googleMap"></div>
    
</div> 
<div class="container-detail mt-5 pl-5">
<a href="/gyms" class="btn-dark" >
 <button type="button" class="btn btn-dark text-danger">GO BACK TO GYM LIST</button></a>
 </div>


{{#each gym.comments as |comment|}}
        {{comment.user.name}}
        {{comment.comment}}
        {{comment.rating}}
      {{/each}}


 <form action="/gyms/{{gym._id}}" method="POST">

  <div class="form-group mb-1">
    <label for="comment">{{ currentUser.name }}</label>
    <textarea name="comment" type="text" class="form-control html-editor" id="comment" placeholder="Enter Comment"
      value="{{ gym.comment }}"> </textarea>
  
      <div class="invalid-feedback">
        {{errors.name.message}}
      </div>
    <input name="rating" type="number" class="form-control rating" id="rating"
      value="{{ gym.rating }}" hidden>
    <div class="rate">
      <input type="radio" id="star5" name="rate" value="5" class="star" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rate" value="4" class="star" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" class="star" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" class="star" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" class="star" />
      <label for="star1" title="text">1 star</label>
    </div>    
     
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
 </form>





{{averageRating}}

<b>Rating: <span id="averageStars"></span></b>
    <p id="avRatingToIndexJs" hidden>{{averageRating}}</p>




<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPHtWkh-7CC2CXc6kBBHh8EldnmlgbKCk&libraries=places"></script>  
<script src="/js/googleMaps.js"></script>

<script src="/js/doComment.js"></script>







