{{!-- 
<h1></h1>
<h2>{{gym.address}}</h2>
<h3></h3>
    

<div class="container">
    <div class="card-deck row mx-auto">
    {{#each gyms as |gym|}}
    <div class="card">
        <img class="card-img-top" src="{{gym.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{gym.name}}</h5>
            <p class="card-text">{{gym.description}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="/gyms/{{gym.id}}" class="btn btn-primary mt-auto">Detail</a>
        </div>
    </div>
    {{/each}}
    </div>
</div> --}}

<div class="container mb-5">
  <div class="row mx-auto">
    {{#each gyms as |gym|}}
      <div class="col-xl-3 col-sm-6 col-xs-12 gy-4 d-flex align-items-stretch">
        <div class="card w-100 round-card " style="width: 18rem;">
          <div class="position-relative">
            <img src="{{gym.image}}" class="card-img-top" alt="...">
{{!--             <button class="like-button border-0">
              <i
                data-id="{{gym.id}}"
                class="
                  like-action fa fa-heart
                  {{#userLikedRestaurant likes=../likes restaurant=restaurant}}icon-liked{{/userLikedRestaurant}}
                "
              >
              </i>
            </button> --}}
          </div>
          <div class="card-body d-flex flex-column mt-2">
              <div class="gym-name">
                  <div>
                <h6 class="card-title">{{gym.name}}</h6>
                 </div>
                 <div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" class="star" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" class="star" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" class="star" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" class="star" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" class="star" />
                    <label for="star1" title="text">1 star</label>
                    </div> 
                 </div>
                 </div>
            <small class="card-text text-small mb-3">
                <span class="fa fa-newspaper-o"></span>{{gym.description}}
            </small>
            <small class="card-text text-small mb-3">
                <span class="fa fa-map-marker"></span>{{gym.address}}
            </small>
            <a href="/gyms/{{gym.id}}" class="btn btn-dark mt-auto">Details</a>
{{!--             <a href="/gyms/{{gym.id}}/edit" class="btn btn-success mt-1">Editar</a>
 --}}          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>



{{!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script> --}}