{{!-- <div clas="profile-div" >
  <div class="profile-image">
    {{#if currentUser.image}}
      <img src="{{currentUser.image}}" alt="Imagen de usuario">
    {{/if}}
  </div>
  <div class="profile-info">
    <h2>Your profile info</h1>
    <br>
    <h4>Name: {{currentUser.name}} </h4>
    <h4>Email: {{currentUser.email}}</h4>
  </div>
  <div class="profile-preferences">
    <h5>Preferences</h5>
    <div>
      <h6>Rated Gyms</h6>
      {{#each gyms as |gym|}}
      {{gym.name}}
      {{gym.address}}
      
      {{/each}}
    </div>
    <div>
      <h6>Trainners</h6>
    </div>
  </div>
</div> --}}

<div class="container rounded bg-white margins">
  <div class="row">
    <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5 "><img class="rounded-circle mt-5 profile-image" src="{{currentUser.image}}"><span class="font-weight-bold">{{currentUser.name}}</span><span class="text-black-50">{{currentUser.email}}</span><span> </span></div>
    </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Your Profile</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="{{currentUser.name}}" readonly></div>
            <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname" readonly></div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text" class="form-control" placeholder="enter phone number" value="" readonly></div>
            <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="enter address" value="" readonly></div>
            <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="enter email id" value="{{currentUser.email}}" readonly></div>
            <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value="" readonly></div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value="" readonly></div>
            <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state" readonly></div>
          </div>
          <div class="mt-5 text-center"><a class="btn btn-dark profile-button" href="gyms/:id/edit">Edit Profile</a></div>
        </div>
      </div>
    <div class="col-md-4 ">
        <div class="p-2 scroll-profile" >   
            <div class="d-flex justify-content-center align-items-center experience"><span>Rated Gyms</span></div><br>
              {{#each gyms as |gym|}}
                <div class="col-xl-12 col-sm-12 col-xs-12 gy-4 d-flex justify-content-center ">
                  <div class="card w-50 round-card mb-3" style="width: 18rem;">
                    <div class="position-relative">
                      <img src="{{gym.image}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body d-flex flex-column mt-2">
                        <div class="gym-name">
                            <div>
                          <h6 class="card-title">{{gym.name}}</h6>
                          </div>
                          <div>
                          <div class="rate rateProfile">
                              <input type="radio" id="star5" name="rate" value="5" class="star" />
                              <label for="star5" title="text">5 stars</label>
                              <input type="radio" id="star4" name="rate" value="4" class="star" />
                              <label for="star4" title="text">4 stars</label>
                              <input type="radio" id="star3" name="rate" value="3" class="star" />
                              <label for="star3" title="text">3 stars</label>
                              <input type="radio" id="star2" name="rate" value="2" class="star" />
                              <label for="star2" title="text">2 stars</label>
                              <input type="radio" id="star1" name="rate" value="1" class="star" />
                              <label for="star1" title="text">1 star</label>
                              </div> 
                          </div>
                          </div>
                    </div>
                  </div>
                </div>
              {{/each}}
        </div>
    </div>
  </div>
</div>
</div>
</div>